{% extends "base.html" %}

{% block title %}corp_top{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}
{% block content %}
    <div class="jumbotron">
      <h1>個社トップ</h1>
      <p>...</p>
      <p><a class="btn btn-primary btn-lg" href="doc_kind" role="button">自社書類</a></p>
      <p><a class="btn btn-primary btn-lg" href="partner_list" role="button">取引先企業一覧</a></p>
      <p><a class="btn btn-primary btn-lg" href="project_list" role="button">プロジェクト一覧</a></p>
      <p><a class="btn btn-primary btn-lg" href="" role="button">設定</a></p>
      <p><a class="btn btn-primary btn-lg" href="./top" role="button">ログアウト</a></p>
    </div>
{% endblock content %}