{% extends "base.html" %}

{% block title %}doc_detail{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}
{% block content %}
    <div class="jumbotron">
      <h1>書類照会</h1>
      <p>...</p>
      <p><a class="btn btn-primary btn-lg" href="./doc_edit" role="button">編集</a></p>
      <p><a class="btn btn-primary btn-lg" href="javascript:history.back()" role="button">戻る</a></p>
      <p><a class="btn btn-primary btn-lg" href="./corp_top" role="button">トップへ</a></p>
    </div>
{% endblock content %}