{% extends "base.html" %}

{% block title %}partner_list{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}
{% block content %}
    <div class="jumbotron">
      <h1>取引先企業一覧</h1>
      <p>...</p>
      <p><a class="btn btn-primary btn-lg" href="./partner" role="button">(企業名)</a></p>
      <p><a class="btn btn-primary btn-lg" href="./corp_search_result" role="button">検索</a></p>
      <p><a class="btn btn-primary btn-lg" href="./corp_top" role="button">戻る</a></p>
    </div>
{% endblock content %}