{% extends "base.html" %}

{% block title %}project_list{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}
{% block content %}
    <div class="jumbotron">
      <h1>プロジェクト一覧</h1>
      <p>...</p>
      <p><a class="btn btn-primary btn-lg" href="./project_detail.html" role="button">(プロジェクト名)</a></p>
      <p><a class="btn btn-primary btn-lg" href="make_project.html" role="button">プロジェクト作成</a></p>
      <p><a class="btn btn-primary btn-lg" href="./corp_top.html" role="button">戻る</a></p>
    </div>
{% endblock content %}