{% extends "base.html" %}

{% block title %}select_partner{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}
{% block content %}
    <div class="jumbotron">
      <h1>企業選択</h1>
      <p>...</p>
      <p><a class="btn btn-primary btn-lg" href="make_project.html" role="button">選択</a></p>
      <p><a class="btn btn-primary btn-lg" href="javascript:history.back()" role="button">戻る</a></p>
      <p><a class="btn btn-primary btn-lg" href="./corp_top.html" role="button">トップへ</a></p>
    </div>
{% endblock content %}